<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>COMPFEST-bin</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://pastebin.com/assets/c80611c4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://pastebin.com/assets/ff2ff0b/css/select2.min.css" rel="stylesheet">
    <link href="https://pastebin.com/assets/c19c6973/css/select2-addl.min.css" rel="stylesheet">
    <link href="https://pastebin.com/assets/c19c6973/css/select2-default.min.css" rel="stylesheet">
    <link href="https://pastebin.com/assets/fb16b45a/css/kv-widgets.min.css" rel="stylesheet">
    <link href="https://pastebin.com/assets/a25015e7/dist/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="https://pastebin.com/themes/pastebin/css/vendors.bundle.css?f261e3494209c18f98a6" rel="stylesheet">
    <link href="https://pastebin.com/themes/pastebin/css/app.bundle.css?f261e3494209c18f98a6" rel="stylesheet">
</head>
   <body class="night-auto " data-pr="x2xy94pJ" data-pa="" data-sar="1" data-abd="1">
    <div class="wrap">
      <div class="header">
      <div class="container">
          <div class="header__container">
              <div class="header__left">
                  <a class="header__logo" href="/">
                  COMPFEST-bin                </a>
                  <div class="header__links h_1024">
                  </div>
                  <a class="header__btn" href="/">new note</a>
              </div>
              <div class="header__right">
                  <div class="header_sign">
                    <a href="/user/profile" class="btn-sign sign-in">Profile</a>
                    <a href="/logout" class="btn-sign sign-up">Log out</a>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="container">
      <div class="content">
        <div class="user-view">
          <div class="details">
             <div class="info-bar">
                <div class="info-top">
                   <h1>{{ username | capitalize }}'s bin</h1>
                </div>
             </div>
          </div>
            {% if get_flashed_messages() %}
              <div class="error-summary">
                {% for message in get_flashed_messages() %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
          <table class="maintable">
             <thead>
                <tr class="top">
                   <th scope="col"><a data-sort="name">Name / Title</a></th>
                   <th scope="col" class="h_640" style="width: 150px"><a class="desc">Added</a></th>
                   <th scope="col" class="h_640" style="width: 150px"><a class="desc">Modified</a></th>
                   <th scope="col" class="td_right" style="min-width: 45px">&nbsp;</th>
                </tr>
             </thead>
             <tbody>
                {% for note in notes %}
                <div data-key="159278650">
                   <tr>
                      <td>
                         <span class="status -public" title="Public paste, anybody can see this paste."></span>
                         <a href="{{ url_for('web.view_note', id=note.id) }}">{{ note.title }} </a>    
                      </td>
                      <td class="h_640 td_smaller"> {{ note.created_at|strftime }} </td>
                      <td class="h_640 td_smaller"> {{ note.modified_at|strftime }} </td>
                      <td class="td_right">
                         <a href="{{ url_for('web.edit_note', id=note.id) }}">
                         <span class="edit" title="Edit Note"></span>
                         </a>
                         <a href="{{ url_for('web.delete_note', id=note.id) }}" data-method="post" data-confirm="Are you sure you want to permanently delete this Paste? There is no undo!">
                         <span class="delete" title="Delete Note"></span>
                         </a>
                      </td>
                   </tr>
                </div>
                {% endfor %}
             </tbody>
          </table>
      </div>
      </div>
      <script src="https://pastebin.com/assets/9ce1885/jquery.min.js"></script>
      <script src="https://pastebin.com/assets/a25015e7/dist/bootstrap-tagsinput.js"></script>
      <script src="https://pastebin.com/themes/pastebin/js/vendors.bundle.js?3bd1f2bdbc3844dd5aad"></script>
      <script src="https://pastebin.com/themes/pastebin/js/app.bundle.js?3bd1f2bdbc3844dd5aad"></script>
   </body>
</html>
